{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>

    <div class="row" style="padding-bottom: 15px;">
        <a class="btn btn-outline-dark" href="{{ url_for('subscription') }}">Add Subscription</a>
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Currency</th>
                    <th scope="col">{{ local_currency }}</th>
                    <th scope="col">Billing Date</th>
                    <th scope="col">Active</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in subscriptions %}
                    <tr>
                        <th>{{ sub['id'] }}</th>
                        <td>{{ sub['name'] }}</td>
                        <td>{{ sub['cost'] }}</td>
                        <td>{{ sub['currency'] }}</td>
                        <td style="color: {{ 'green' if sub['active'] else 'red' }}">{{ sub[local_currency] | round(2, 'floor') }}</td>
                        <td>{{ sub['billing_date'] }}</td>
                        <td><a class="btn btn-info" href="{{ url_for('switch_active', _id=sub['id']) }}">{{ 'Active' if sub['active'] else 'Disabled' }}</a></td>
                        <td><a class="btn btn-warning" href="{{ url_for('edit', _id=sub['id']) }}">Edit</a></td>
                        <td><a class="btn btn-danger" href="{{ url_for('delete', _id=sub['id']) }}">Delete</a></td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>Total</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{ total_local | round(2, 'floor') }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}